[submodule "3rdParty/glm"]
	path = 3rdParty/glm
	url = https://github.com/g-truc/glm
[submodule "3rdParty/openvr"]
	path = 3rdParty/openvr
	url = https://github.com/ValveSoftware/openvr/
[submodule "3rdParty/libusb"]
	path = 3rdParty/libusb
	url = https://github.com/libusb/libusb
[submodule "3rdParty/libpsvr"]
	path = 3rdParty/libpsvr
	url = https://github.com/alatnet/libpsvr
